@charset "utf-8";
.marign{width: 1190px;margin: 0 auto;}

.tittle{text-align: center;
        i{display: block;width: 492px;height: 63px;border-bottom: 2px solid black;margin: 0 auto;}
        h3{font: 34px "";font-weight:700;height: 34px;width: 290px;background: #FFFFFF;margin: -25px auto 0;}
        span{font: 14px/44px "";color: #666666;}}

header{
    #top{
        height: 36px;background: #a3a3a3;
        span{
            float:left;padding-left: 17px;font: 12px/36px "";color: #fff;
            &:nth-child(1){background: url(../img/tel.png) no-repeat left center;}
            &:nth-child(2){background: url(../img/ms.png) no-repeat left center;margin-left: 25px;}
            }  
    }
    #nav{
        height: 74px;background: #f7f7f7;
        .marign{
          .nav-l{
              float: left;
              img{display: block;height: 69px;width: 341px;margin-top: 2px;}
          }
          .nav-r{
              float: left;display: flex;justify-content: center;margin-left: 5%;
              li{
                  a{font: 16px/74px "";color: #666666;padding: 0 26px;}
                  &:hover a{color: #eb6d06;}
              }
            }
        }
    }
    .show{
        height: 46px;width: 100%;background: #666666;display: none;
        span{font: 15px/46px "";color: #FFFFFF;padding-left: 15px;cursor: pointer;}
        .xia{height: 11px;width:15px;display: block;float: right;margin: 20px 20px 0 0;background:url(../img/xia.png) no-repeat;}
        ul{
            width: 100%;background: #666666;display: none;position: absolute;left: 0;top: 46px;z-index: 555;
            li{
                width: 100%;
                a{color: #FFFFFF;font: 15px/46px "";padding-left:15px;}
                &:hover{background: #EB6D06;}
            }
            &.selset{display: block;}
        }
    }

}

section{
    padding: 35px 0 190px 0;  
    .case-l{
        width: 50%;float: left;border: 2px solid #ededed;box-sizing: border-box;
        i{
            display: block;width: 100%;height:100%;margin-bottom: 10px; 
            img{width: 100%;height: 100%;}
         }
         p{margin-top: 10px;font: 12px/20px "";color: #696969;}
    }
    .case-r{ 
        width: 30%;float: right;border: 2px solid #ededed;box-sizing: border-box;
        h3{width: 100%;height: 45px;background: #a3a3a3;text-align: center;font: 20px/45px ""; color: #FFFFFF;margin-bottom: 43px;}
        ul{
            padding: 0 20px;box-sizing: border-box;
            li{
                font: 12px/24px "";color: #5c5c5c;
               input{width: 100%;height: 36px;border: 2px solid #c7c7c7;outline: none;padding-left: 10px;box-sizing: border-box;} 
             }
        }
        a{display: block;height: 32px;width: 150px;text-align: center;font: 18px/32px "";color: #FFFFFF;background: #EB6D06;margin: 23px auto 0;}
    }
}
 

 footer{
     text-align: center;color: #919191;font: 12px/24px "";background: #f4f4f4;padding-top:35px;
     ul{
          display: flex;justify-content: center;
          li{
              a{padding: 0 15px;}
          }
     }
     img{display: block;margin: 15px auto 15px;}
 }
#top1{
    height: 40px;width: 40px;position: fixed;right: 0;bottom: 50px;background: url(../img/s_totop.jpg) no-repeat 0 0;
    &:hover{background-position:-40px 0;}
}
 




@media screen and (max-width:1192px){
.marign{width:auto;}
}
@media screen and (max-width:992px){
    .marign{width: 767px;}  
    #top{display: none;}
    #nav{display: none;}
    header .show{display: block;}
    section{
    .case-l{
        width: 100%;float: none;
        i{
            width: 100%;height:100%;
            img{width: 100%;height: 100%;}
         }
         p{margin-top: 10px;font: 12px/20px "";color: #696969;}
    }
    .case-r{
        width: 100%;float: none;   
    }
}
    
    footer{
    font: 12px/20px "";padding-top:20px;
     ul{
         flex-direction: column;
     }
 }
}  


@media screen and (max-width:768px){  
    .marign{width: auto;} 
} 

